{% extends 'base2.html.twig' %}

{% block title %}Postulante{% endblock %}

{% block body %}
    <h1>Postulante</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Nombre</th>
                <td>{{ user.nombre }}</td>
            </tr>
            <tr>
                <th>Apellido</th>
                <td>{{ user.apellido }}</td>
            </tr>
            <tr>
                <th>DNI</th>
                <td>{{ user.dni }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ user.email }}</td>
            </tr>
            <tr>
                <th>Telefono</th>
                <td>{{ user.telefono }}</td>
            </tr>
            <tr>
                <th>Provincia</th>
                <td>{{ user.provincia }}</td>
            </tr>
            <tr>
                <th>Perfil</th>
                <td>{{ user.perfil }}</td>
            </tr>
            <tr>
                <th>Estudios</th>
                <td>{{ user.estudios }}</td>
            </tr>
            <tr>
                <th>Antecedentes</th>
                <td>{{ user.antecedentes }}</td>
            </tr>
            <tr>
                <th>Formacion</th>
                <td>{{ user.formacion }}</td>
            </tr>
            <tr>
                <th>CV</th>
                <td>{{ user.cv }}</td>
            </tr>
            <tr>
                <th>Diploma</th>
                <td>{{ user.diploma }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('admin') }}">Volver a la lista</a>
{% endblock %}
